<div class="flex_row">
<project_card>
    <h2 class="centered no-top" id="card_title">
    {%- if include.href %}
        <a href="{{include.href}}">
            {{include.title}}
        </a>
    {% else %}
        {{include.title}}
    {% endif %}
    </h2>
    <h3 class="centered">
      <div id="card_info_block">
        <span id="card_date">{{include.date}}</span>
        -
        <span id="card_lang">{{include.skills}}</span>
        <br/>
        <span id="card_state">{{include.state}}</span>
      </div>
    </h3>
    <hr/>
    <div id="card_desc">
        {{include.description | markdownify}}
    </div>
  </project_card>
</div>