<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

  <title>{{page.title}}</title>

  <!-- Meta info for embedding -->

  {%- if page.embed_title %}
  <meta content="{{page.embed_title}}" property="og:title">
  {% else %}
  <meta content="{{page.title}}" property="og:title">
  {% endif %}

  {%- if page.embed_description %}
  <meta content="{{page.embed_description}}" property="og:description">
  {% endif %}

  <meta content="https://zcubed.xyz/" property="og:url">
  <meta content="https://cdn.zcubed.xyz/images/zCubed_Purple_512.png" property="og:image">
  <meta content="#4f32b0" data-react-helmet="true" name="theme-color">

</head>