---
layout: base
---

<div class="flex_row">
  <section_card class="auto_width">
    <h1 class="centered">
      Liam Reese's Portfolio
    </h1>
    <hr />
    <img src="https://cdn.zcubed.xyz/images/zCubed_Purple_512.gif" title="My very creative profile picture"
      alt="A spinning purple 'Z'; the insignia of the author" class="center_block" width="128" />
    <hr />
    <h2 class="centered">
      Graphics Programmer
    </h2>
    <hr />
    <h2 class="centered" >
      <a href="https://cdn.zcubed.xyz/docs/liam_reese_technical_resume.pdf">
        My Resume
      </a>
    </h2>
  </section_card>
</div>

<div>
  {{ content }}
</div>